<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <authBridge>
    <multiProtocolIssuer identifier="https://authbridge.azurewebsites.net/" responseEndpoint="https://authbridge.azurewebsites.net/response" xdt:Transform="SetAttributes" >
      <claimProviders>
        <add identifier="urn:LiveId">
          <params>
            <add key="wll_appid" value="MATIAS00000000480CA261" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
            <add key="wll_secret" value="MATIASJGnDMshOmEH90XmGlOzfvhkITydk-jVx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
          </params>
        </add>
        <add identifier="urn:Facebook">
          <params>
            <add key="application_id" value="MATIAS173673902765073" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
            <add key="secret" value="MATIAS65773b1c3b1c00e2c672be080ff54615" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
          </params>
        </add>
        <add identifier="urn:Twitter">
          <params>
            <add key="consumer_key" value="MATIASfQq1IP0IY3UHGArFyBpkg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
            <add key="consumer_secret" value="MATIASuQcwznNpDJJNMh4mAJiVxpOM6nTvWRPd3cH971Ot4GA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
          </params>
        </add>
        <add identifier="urn:IdentityServer" url="https://identityprovider.apphb.com/issue/wsfed" protocolHandler="WSFedHandler">
          <params>
            <add key="signingKeyThumbprint" value="MATIAScf50166ce4b901e38928cf56f820c4da668f96bf" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
          </params>
        </add>
      </claimProviders>
      <scopes>
        <scope uri="http://authbridge-sample.azurewebsites.net/" identifier="http://sample-with-policyengine/" xdt:Transform="SetAttributes" xdt:Locator="Match(identifier)" />
        <scope uri="http://authbridge-sample.azurewebsites.net/" identifier="http://sample-without-policyengine/" xdt:Transform="SetAttributes" xdt:Locator="Match(identifier)" />
      </scopes>
    </multiProtocolIssuer>
  </authBridge>
</configuration>