<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <authBridge>
    <multiProtocolIssuer identifier="https://authbridge.apphb.com/" responseEndpoint="https://authbridge.apphb.com/response" xdt:Transform="SetAttributes" >
      <claimProviders>
        <add identifier="urn:LiveId">
          <params>
            <add key="wll_appid" value="00000000480CA177" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
            <add key="wll_secret" value="mEND2ZM-0IrHphjtwtqOpamdPspzSrW4" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
          </params>
        </add>
        <add identifier="urn:Facebook">
          <params>
            <add key="application_id" value="456942740996371" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
            <add key="secret" value="5cea8312d823a92c065ec68786896e16" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
          </params>
        </add>
        <add identifier="urn:Twitter">
          <params>
            <add key="consumer_key" value="MvXBGJ0c0tvEH1NWNR4EQ" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
            <add key="consumer_secret" value="7xVqOgcUNhZz8NHviMlyCIrUzeueIGoWTKeBwrEd1Q" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
          </params>
        </add>
        <add identifier="urn:IdentityServer" url="https://identityprovider.apphb.com/issue/wsfed" protocolHandler="WSFedHandler">
          <params>
            <add key="signingKeyThumbprint" value="cf50166ce4b901e38928cf56f820c4da668f96bf" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
          </params>
        </add>
        <add identifier="urn:office365:auth10preview" url="https://accounts.accesscontrol.windows.net/v2/wsfederation" protocolHandler="WindowsAzureADHandler">
          <params>
            <add key="signingKeyThumbprint" value="3464C5BDD2BE7F2B6112E2F08E9C0024E33D9FE0"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
            <add key="tenantId" value="a37242fd-30a6-4836-9c49-2049e46a471c"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
            <add key="appPrincipalId" value="2829c758-2bef-43df-a685-717089474509"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
            <add key="realmFormat" value="spn:{appPrincipalId}@{tenantId}"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
          </params>
        </add>
      </claimProviders>
      <scopes>
        <scope uri="https://authbridge-sample.apphb.com/" identifier="http://sample-with-policyengine/" xdt:Transform="SetAttributes" xdt:Locator="Match(identifier)" />
        <scope uri="https://authbridge-sample.apphb.com/" identifier="http://sample-without-policyengine/" xdt:Transform="SetAttributes" xdt:Locator="Match(identifier)" />
      </scopes>
    </multiProtocolIssuer>
  </authBridge>
</configuration>