<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="authBridge" type="AuthBridge.Configuration.AuthBridgeSectionGroup, AuthBridge, Version=1.0.0.0, Culture=neutral">
      <section name="multiProtocolIssuer" type="AuthBridge.Configuration.MultiProtocolIssuerSection, AuthBridge, Version=1.0.0.0, Culture=neutral"/>
    </sectionGroup>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime requestValidationMode="2.0" requestValidationType="AuthBridge.Web.AllowTokenPostRequestValidator" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="None"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Linq"/> 
        <add namespace="System.Collections.Generic"/>
      </namespaces>
    </pages>
    <httpModules>
      <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </httpModules>
  </system.web>
  <system.web.extensions/>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <authBridge>
    <multiProtocolIssuer identifier="http://identity.bridge.com/" responseEndpoint="http://identity.bridge.com/response">
      <signingCertificateFile pfxFilePath="test-certificate.pfx" password="Passw0rd!"/>
      <claimProviders>
        <add identifier="urn:Yahoo" url="http://notused/" protocolHandler="YahooHandler" />
        <add identifier="urn:Google" url="http://notused/" protocolHandler="GoogleHandler" />
        <add identifier="urn:LiveId" url="https://notused" protocolHandler="LiveIdHandler" >
          <params>
            <add key="wll_appid" value="00000000480CA261"/>
            <add key="wll_secret" value="JGnDMshOmEH90XmGlOzfvhkITydk-jVx"/>
          </params>
        </add>
        <add identifier="urn:Facebook" url="https://notused" protocolHandler="FacebookHandler">
          <params>
            <add key="application_id" value="173673902765073"/>
            <add key="secret" value="65773b1c3b1c00e2c672be080ff54615"/>
          </params>
        </add>
        <add identifier="urn:Twitter" url="http://notused/" protocolHandler="TwitterHandler">
          <params>
            <add key="api_url" value="http://twitter.com"/>
            <add key="consumer_key" value="fQq1IP0IY3UHGArFyBpkg"/>
            <add key="consumer_secret" value="uQcwznNpDJJNMh4mAJiVxpOM6nTvWRPd3cH971Ot4GA"/>
          </params>
        </add>
        <add identifier="urn:IdentityServer" url="https://identityprovider.apphb.com/issue/wsfed" protocolHandler="WSFedHandler">
          <params>
            <add key="signingKeyThumbprint" value="cf50166ce4b901e38928cf56f820c4da668f96bf"/>
          </params>
        </add>
      </claimProviders>
      <scopes>
        <scope uri="http://localhost:51138/" identifier="http://sample-with-policyengine/" useClaimsPolicyEngine="true" />
        <scope uri="http://localhost:51138/" identifier="http://sample-without-policyengine/" useClaimsPolicyEngine="false" />
      </scopes>
    </multiProtocolIssuer>
  </authBridge>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="AuthBridge.Protocols.IProtocolHandler, AuthBridge" mapTo="AuthBridge.Protocols.OpenID.GoogleHandler, AuthBridge" name="GoogleHandler"/>
      <register type="AuthBridge.Protocols.IProtocolHandler, AuthBridge" mapTo="AuthBridge.Protocols.OpenID.YahooHandler, AuthBridge" name="YahooHandler"/>
      <register type="AuthBridge.Protocols.IProtocolHandler, AuthBridge" mapTo="AuthBridge.Protocols.LiveId.LiveIdHandler, AuthBridge" name="LiveIdHandler"/>
      <register type="AuthBridge.Protocols.IProtocolHandler, AuthBridge" mapTo="AuthBridge.Protocols.OAuth.FacebookHandler, AuthBridge" name="FacebookHandler"/>
      <register type="AuthBridge.Protocols.IProtocolHandler, AuthBridge" mapTo="AuthBridge.Protocols.OAuth.TwitterHandler, AuthBridge" name="TwitterHandler"/>
      <register type="AuthBridge.Protocols.IProtocolHandler, AuthBridge" mapTo="AuthBridge.Protocols.WSFed.WSFedHandler, AuthBridge" name="WSFedHandler"/>
    </container>
  </unity>
</configuration>