#selector 
{
    width: 460px;
    margin: 0px auto;
}

#selector div {
	display: block;
}

#buttons, #buttons br {
	clear: both;
}
.button {
	width: 110px;
	height: 60px;
	border: 1px solid #DDD;
	margin: 6px;
	float: left;
	text-align:center;
	padding: 10px;
}
a.button:hover 
{
	border: 1px solid #aaa;
	    
}
a.button:focus {
	outline: none;
}
a.button:focus
{
-moz-outline-style: none;
}
	
.yahoo { background: url("/Content/images/yahoo.gif") no-repeat scroll center center rgb(255, 255, 255);}
.google { background: url("/Content/images/google.png") no-repeat scroll center center rgb(255, 255, 255);}
.liveid { background: url("/Content/images/liveid.png") no-repeat scroll center center rgb(255, 255, 255);}
.facebook { background: url("/Content/images/facebook.png") no-repeat scroll center center rgb(255, 255, 255);}
.twitter { background: url("/Content/images/twitter.png") no-repeat scroll center center rgb(255, 255, 255);}
